<p-card header="Mi a meghirdetett ösztöndíj célja?" styleClass="p-m-4 p-shadow-24">
  Az Innovációs Ösztöndíj 2020 célja, hogy külön motiválja a cégcsoport dolgozóit abban, hogy proaktív módon
  járuljanak hozzá belső folyamataink és szállított termékeink korszerű megoldások irányába történő fejlődéséhez.
</p-card>

<p-card header="Kik vehetnek benne részt?" styleClass="p-m-4 p-shadow-24">
  Bárki jelentkezhet, aki a cégcsoport valamelyik leánycégének az
  alkalmazásában áll. Pályázni lehet egyéniben vagy csapatban, viszont a verseny egy kategóriában zajlik.
</p-card>

<p-card header="Mi a feltétele?" styleClass="p-m-4 p-shadow-24">
  A pályázat tárgya olyan előremutató újítás lehet, amely a 2020-as év során részben vagy egészben megvalósult és a cégcsoport
  valamelyik termékéhez kapcsolódik vagy belső folyamatot érint. A lényeg, hogy alulról jövő saját kezdeményezés legyen.
</p-card>

<p-card header="Hogyan pályázhatok rá?" styleClass="p-m-4 p-shadow-24">
  A menetrendben megadott határidőig <a routerLink="/signup">nyújts be</a> egy cirka 1. oldalas leírást a hozzád köthető innováció
  lényegéről (mi motivált, hogyan valósult meg, milyen eredmények születtek stb.).
  A leíráson túl szükség lesz egy 15 perces demó prezentáció összeállítására is.
</p-card>

<p-card header="Menetrend" styleClass="p-m-4 p-shadow-24">
  <dl>
    <dt class="p-text-bold">Pályázati szakasz | 2020. november 30. éjfél</dt>
    <dd>
      <p>Készítsétek el minél többen a pályázati anyagotokat és töltsétek fel a <a routerLink="/signup">Regisztráció</a> menüpont alatt!</p>
    </dd>
    <dt class="p-text-bold">Beszámolók | 2020. december 7. 14:00 | Hauszmann K2 3. emeleti tárgyaló</dt>
    <dd>
      <p>
        A zsűri előtti beszámolókat a pályázók előre kihirdetett sorrendben (részletek az <a routerLink="/schedule">Időbeosztás</a> menüpont alatt), egymás után tartják meg.
        15 perc diás prezentáció, utána még 10 percben a zsűri kérdéseire kell válaszolni.
        A pandémiára való tenkintettel a beszámolók zárt körben lesznek megtartva, viszont az előadásokról videófelvétel készül, amit a <a routerLink="/recordings">Beszámolók</a> menüpont alatt megosztunk.
      </p>
    </dd>
    <dt class="p-text-bold">Eredményhirdetés | Évzáró karácsonyi rendezvény</dt>
    <dd>
      <p>
        Amennyiben COVID19 😷 engedi, a zsűri értékelése alapján kiválasztott győztest a közös karácsonyi partin kihirdetjük!
      </p>
    </dd>
  </dl>
</p-card>

<p-card header="Hogyan zajlik az értékelés?" styleClass="p-m-4 p-shadow-24">
   Az értékelést egy külsős szakemberekből álló <a routerLink="/jury">zsűri</a> hajtja végre, akik a bemutatott prezentációk és hozzá kapcsolódóan feltett
   kérdéseik alapján pontozzák a pályázók munkáit. A legtöbb pontot szerző pályázó megnyeri az erre a célra elkülönített 1 000 000 Ft-os díjat.
</p-card>

<p-card header="Kérdésed van?" styleClass="p-m-4 p-shadow-24">
    Kérdéseidet elküldheted a <a href="mailto:groma.istvan@sdadms.hu?subject=Innovációs ösztöndíj 2020">groma.istvan@sdadms.hu</a> e-mail címre.
</p-card>
