<p-card header="Mi a meghirdetett ösztöndíj célja?" styleClass="p-m-4">
  Az <span class="p-tag p-tag-warning">💡 Innovációs Ösztöndíj 2020</span> célja, hogy külön motiválja a cégcsoport dolgozóit abban, hogy proaktív módon
  járuljanak hozzá belső folyamataink és szállított termékeink korszerű megoldások irányába történő fejlődéséhez 🚀.
</p-card>
<p-card header="Kik vehetnek benne részt?" styleClass="p-m-4">
  Bárki jelentkezhet, aki a <span class="p-tag p-tag-warning">cégcsoport</span> valamelyik leánycégének az
  alkalmazásában áll. Pályázni lehet egyéniben 👤 vagy csapatban 👥, viszont a verseny csupán egy közös kategóriában zajlik.
</p-card>
<p-card header="Mi a feltétele?" styleClass="p-m-4">
  A pályázat tárgya olyan előremutató újítás lehet, amely a <span class="p-tag p-tag-warning">2020-as év</span> során részben vagy egészben megvalósult és a cégcsoport
  valamelyik termékéhez kapcsolódik vagy belső folyamatot érint. A lényeg, hogy alulról jövő saját ötleten 💭 alapuljon.
</p-card>
<p-card header="Hogyan pályázhatok rá?" styleClass="p-m-4">
  A menetrendben megadott határidőig nyújts be a hozzád köthető innováció lényegéről egy maximum <span class="p-tag p-tag-warning">1 oldalas leírást</span>
  : mi motivált, hogyan valósult meg, milyen eredmények születtek...
  Az összefoglalón túl készítsd el a <span class="p-tag p-tag-warning">10-15 perces demó prezentációdat</span> is, amellyel a beszámoló során le akarod nyűgözni a zsűrit 👨‍⚖️!
</p-card>
<p-card header="Menetrend" styleClass="p-m-4">
  <h4>Pályázati szakasz | <span class="p-tag p-tag-warning">📅 2020. november 30. 24:00</span></h4>
  <p class="p-ml-4">
    Készítsétek el minél többen a pályázati anyagotokat és töltsétek fel a <a class="p-tag p-tag-warning" routerLink="/signup">Regisztráció</a> menüpont alatt!
  </p>
  <h4>Beszámolók | <span class="p-tag p-tag-warning">📅 2020. december 14. 16:00</span> | <span class="p-tag p-tag-warning">Microsoft Teams</span></h4>
  <p class="p-ml-4">
    <img src="assets/teams.png" alt="Microsoft Teams" class="tool" />
    A zsűri előtti bemutatókat a pályázók előre kihirdetett sorrendben (részletek az <a class="p-tag p-tag-warning" routerLink="/schedule">Időbeosztás</a> menüpont alatt lesznek elérhetők),
    egymás után sorban tartják meg. Minden pályázó kap 15 percnyi demó prezentációs időt, utána még 10 percben a zsűri kérdéseire kell válaszolni.
    A pandémiára 😷 való tekintettel a bemutatók online lesznek megtartva (<a class="p-tag p-tag-warning" href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/download-app#desktopAppDownloadregion" target="_blank">Microsoft Teams letöltése</a>),
    viszont az előadásokról felvétel 📹 készül, amit a <a class="p-tag p-tag-warning" routerLink="/recordings">Beszámolók</a> menüpont alatt megosztunk.
  </p>
  <h4>Eredményhirdetés | <span class="p-tag p-tag-warning">📅 2020. december 18. 18:30</span></h4>
  <p class="p-ml-4">
    A koronavírus járvány 😷 miatt az eredményhirdetés 🏆 a <a class="p-tag p-tag-warning" href="https://max.hu/evzaroesemeny2020/" target="_blank">Cégcsoportos Évzáró Eseményen</a> keretében történik.
  </p>
</p-card>
<p-card header="Hogyan zajlik az értékelés?" styleClass="p-m-4">
  Az értékelést egy külsős szakemberekből álló <a class="p-tag p-tag-warning" routerLink="/jury">zsűri</a> végzi, akik a prezentációk és a
  hozzájuk kapcsolódóan feltett kérdéseik alapján pontozzák a pályázók munkáit. A legtöbb pontot szerző pályázó megnyeri a <span class="p-tag p-tag-warning">1 000 000 Ft</span>
  fődíjat 🏆.
</p-card>
<p-card header="Kérdésed van?" styleClass="p-m-4">
  Kérdéseidet elküldheted a 📩 <a class="p-tag p-tag-warning" href="mailto:groma.istvan@sdadms.hu?subject=Innovációs ösztöndíj 2020">groma.istvan@sdadms.hu</a> e-mail címre.
</p-card>
