<p-card header="Mi a meghirdetett ösztöndíj célja?" styleClass="p-m-4 p-shadow-24">
  Az Innovációs Ösztöndíj 2020 célja, hogy külön motiválja a cégcsoport dolgozóit abban, hogy proaktív módon
  járuljanak hozzá belső folyamataink és szállított termékeink korszerű megoldások irányába történő fejlődéséhez.
</p-card>

<p-card header="Kik vehetnek benne részt?" styleClass="p-m-4 p-shadow-24">
  Bárki jelentkezhet, aki a cégcsoport valamelyik leánycégének az
  alkalmazásában áll. Pályázni lehet egyéniben és csapatban, viszont nincs külön kategória.
</p-card>


<p-card header="Mi a feltétele?" styleClass="p-m-4 p-shadow-24">
  A pályázat tárgya olyan előremutató újítás lehet, amely a 2020-as év során részben vagy egészben megvalósult és a cégcsoport
  valamelyik termékéhez kapcsolódik vagy belső folyamatot érint. A lényeg, hogy alulról jövő saját kezdeményezés legyen.
</p-card>

<p-card header="Hogyan pályázhatok rá?" styleClass="p-m-4 p-shadow-24">
  A menetrendben megadott határidőig <a routerLink="/signup">nyújts be</a> egy cirka 1. oldalas leírást a hozzád köthető innováció
  lényegéről (mi motivált, hogyan valósult meg, milyen eredmények születtek stb.).
  A leíráson túl szükség lesz egy 15 perces demó prezentáció összeállítására is.
</p-card>

<p-card header="Menetrend" styleClass="p-m-4 p-shadow-24">
  <dl>
    <dt class="p-text-bold">Pályázati szakasz | 2020. november 27. éjfél</dt>
    <dd>
      <p>Készítsétek el minél többen a pályázati anyagotokat és töltsétek fel a <a routerLink="/signup">Regisztráció</a> menüpont alatt!</p>
    </dd>
    <dt class="p-text-bold">Beszámolók | 2020. december 4. 15:00-19:00</dt>
    <dd>
      <p>
        A zsűri előtti beszámolókat a pályázók előre kihirdetett <a routerLink="/schedule">sorrendben</a>, egymás után tartják meg.
        15 perc diás prezentáció, utána még 10 percben a zsűri kérdéseire kell válaszolni.
        <span class="p-text-bold">
          Helyszín: Hauszmann Alajos u. 3/B. étterem.
        </span>
      </p>
    </dd>
    <dt class="p-text-bold">Eredményhirdetés | Évzáró karácsonyi rendezvény</dt>
    <dd>
      <p>
        A zsűri értékelése alapján kihirdetjük a győztest!
      </p>
    </dd>
  </dl>
</p-card>

<p-card header="Hogyan zajlik az értékelés?" styleClass="p-m-4 p-shadow-24">
   Az értékelést egy külsős szakemberekből álló <a routerLink="/jury">zsűri</a> hajtja végre, akik a bemutatott prezentációk és hozzá kapcsolódóan feltett
   kérdéseik alapján pontozzák a pályázók munkáit. A legtöbb pontot szerző pályázó megnyeri az erre a célra elkülönített 1 000 000 Ft-os díjat.
</p-card>

<p-card header="Kérdésed van?" styleClass="p-m-4 p-shadow-24">
    Kérdéseidet elküldheted a <a href="mailto:groma.istvan@sdadms.hu?subject=Innovációs ösztöndíj 2020">groma.istvan@sdadms.hu</a> e-mail címre.
</p-card>
