<p-card *ngFor="let member of jury" styleClass="m-4 highlighted">
  <ng-template pTemplate="body">
    <div class="p-card-title">
      {{member.name}}
    </div>
    <div class="p-card-subtitle">
      <a [href]="'mailto:' + member.email">{{member.email}}</a>
    </div>
    <div>
      <span [ngSwitch]="member.company">
        <img *ngSwitchCase="'Ericsson'" src="assets/ericsson.png" [alt]="member.company" [pTooltip]="member.company" tooltipPosition="top" class="logo" />
        <img *ngSwitchCase="'NPSH'" src="assets/npsh.png" [alt]="member.company" [pTooltip]="member.company" tooltipPosition="top" class="logo" />
        <img *ngSwitchCase="'eNET'" src="assets/enet.png" [alt]="member.company" [pTooltip]="member.company" tooltipPosition="top" class="logo" />
        <img *ngSwitchCase="'Qualysoft'" src="assets/qualysoft.png" [alt]="member.company" [pTooltip]="member.company" tooltipPosition="top" class="logo" />
      </span>
      <br>
      {{member.introduction}}
    </div>
  </ng-template>
</p-card>

