<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Mi a meghirdetett ösztöndíj célja?</h2>

  Az Innovációs Ösztöndíj 2020 célja, hogy külön motiválja a cégcsoport dolgozóit abban, hogy proaktív módon
  járuljanak hozzá belső
  folyamataink és szállított termékeink korszerű megoldások irányába történő fejlődéséhez.
</div>

<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Kik vehetnek benne részt?</h2>

  <a href="/">Mindenki</a> jelentkezhet, aki az RCI vagy a NEXIUS vagyonkezelők valamelyik leánycégének az
  alkalmazásában áll.
  Pályázni lehet egyéniben és <strong>csapattal</strong> is, viszont a csapatok és a személyek egy kategóriában
  indulnak.
</div>

<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Mi a feltétele?</h2>

  A pályázás feltétele, hogy a '20-es év során dolgozz ki és valósíts meg valamilyen előremutató újítást a cégcsoport
  egyik termékéhez
  kapcsoltan vagy egy belső folyamatok tekintetében. A lényeg, hogy alulról jövő kezdeményezés legyen és részben vagy
  egészben
  valósuljon is meg.
</div>

<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Hogyan pályázhatok rá?</h2>

  Az alábbi határidőig <a href="/register">nyújts be</a> egy cirka 1. oldalas leírást a hozzád köthető céges innováció
  lényegéről (mi motivált, hogyan valósult meg,
  milyen eredmények születtek stb.). A leíráson túl szükség lesz egy 15 perces demó prezentáció összeállítására is.
</div>

<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Menetrend</h2>
  
  <ul>
    <li>
      <div class="d-flex w-100 justify-content-between">
        <h4>Pályázati szakasz</h4>
        <small class="text-muted">2019. november 25. éjfél</small>
      </div>
      <div class="mb-1">
        Készítsétek el minél többen a pályázati anyagotokat és töltsétek fel a
        <a href="/SignUp">Regisztráció</a> menüpont alatt!
      </div>
    </li>
    <li>
      <div class="d-flex w-100 justify-content-between">
        <h4>Beszámolók</h4>
        <small class="text-muted">2019. december 4. 15:00-19:00</small>
      </div>
      <p class="mb-1">
        A zsűri előtti beszámolókat a pályázók előre kihirdetett <a href="/Schedule">sorrendben</a>, egymás után tartják meg.
        15 perc diás prezentáció, utána még 10 percben a zsűri kérdéseire kell válaszolni.
      </p>
      <small>Helyszín: Hauszmann Alajos u. 3/B. | 3. emelet | DMS közösségi tér</small>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h4>Eredményhirdetés</h4>
        <small class="text-muted">Évzáró karácsonyi rendezvény</small>
      </div>
      <p class="mb-1">A zsűri értékelése alapján kihirdetjük a győztest!</p>
    </li>
  </ul>
</div>

<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Hogyan zajlik az értékelés?</h2>

  Az értékelést egy külsős szakemberekből álló <a href="/Jury">zsűri</a> hajtja végre, akik a bemutatott prezentációk
  és hozzá kapcsolódóan feltett kérdéseik alapján
  pontozzák a pályázók munkáit. A legtöbb pontot szerző pályázó megnyeri az erre a célra elkülönített 1 000 000 Ft-os
  díjat.
</div>

<div class="card p-m-1 p-p-2 p-shadow-24">
  <h2>Kérdésed van?</h2>

  Kérdéseidet elküldheted a <a href="mailto:groma.istvan@sdadms.hu?subject=Innovációs ösztöndíj 2020">groma.istvan@sdadms.hu</a> e-mail címre.
</div>
