<p-card *ngFor="let applicant of applicants" styleClass="m-4">
  <ng-template pTemplate="body">
    <div class="p-card-title">
      {{applicant.name}}
    </div>
    <div class="p-card-subtitle">
      <a [href]="'mailto:' + applicant.email">{{applicant.email}}</a>
    </div>
    <div class="p-text-center">
      <h1>{{applicant.title}}</h1>
    </div>
    <span>
      <a [routerLink]="" (click)="download(applicant, 'docx')">
        <img src="assets/word.svg" alt="Összefoglaló" pTooltip="Összefoglaló" tooltipPosition="top" class="download" />
      </a>
    </span>
    <span class="ml-2" *ngIf="overDueDate">
      <a [routerLink]="" (click)="download(applicant, 'pptx')">
        <img src="assets/power.svg" alt="Prezentáció" pTooltip="Prezentáció" tooltipPosition="top" class="download" />
      </a>
    </span>
    <span [ngSwitch]="applicant.company">
      <img *ngSwitchCase="'E-Educatio Információtechnológia Zrt.'" src="assets/sda.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'eKRÉTA Informatikai Zrt.'" src="assets/ekreta.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'ELMS Informatikai Zrt.'" src="assets/elms.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'LMS One Informatikai Zrt.'" src="assets/elms.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'Max & Future Kft.'" src="assets/Max.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'Rufusz Computer Informatika Zrt.'" src="assets/rufusz.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'SDA DMS Zrt.'" src="assets/sdadms.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'SDA Informatika Zrt.'" src="assets/sda.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
      <img *ngSwitchCase="'Webjogsi KMR Autósiskola Zrt.'" src="assets/webjogsi.png" [alt]="applicant.company" [pTooltip]="applicant.company" tooltipPosition="top" class="logo" />
    </span>
  </ng-template>
</p-card>
<p-messages [(value)]="messages" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [closable]="false" styleClass="m-4">
</p-messages>
