<p-card *ngFor="let applicant of applicants" styleClass="p-m-4">
  <ng-template pTemplate="body">
    <div class="p-card-title">
      {{applicant.name}}
    </div>
    <div class="p-card-subtitle">
      <a [href]="'mailto:' + applicant.email">{{applicant.email}}</a>
    </div>
    <div class="p-text-center">
      <h1>{{applicant.title}}</h1>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <span [ngSwitch]="applicant.company">
      <img *ngSwitchCase="'E-Educatio Információtechnológia Zrt.'" src="assets/sda.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'eKRÉTA Informatikai Zrt.'" src="assets/ekreta.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'ELMS Informatikai Zrt.'" src="assets/elms.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'Max & Future Kft.'" src="assets/Max.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'Rufusz Computer Informatika Zrt.'" src="assets/rufusz.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'SDA DMS Zrt.'" src="assets/sdadms.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'SDA Informatika Zrt.'" src="assets/sda.png" [alt]="applicant.company" class="logo" />
      <img *ngSwitchCase="'Webjogsi KMR Autósiskola Zrt.'" src="assets/webjogsi.png" [alt]="applicant.company" class="logo" />
    </span>
    <span>{{applicant.company}}</span>
  </ng-template>
</p-card>
