/* You can add global styles to this file, and also import other style files */
.p-card .p-card-body {
  padding: 1rem;
}

.logo {
  width: 200px;
  vertical-align: middle;
}

body {
  background-color: lightsteelblue;
}

.p-menuitem-link-active {
  background-color: brown;
}
