/* PrimeNG */

.p-card .p-card-body {
  padding: 1rem;
}

.p-menuitem-link-active {
  font-weight: bold;
  font-size: large;
}

/* Common */

.logo {
  width: 200px;
  vertical-align: middle;
}

body {
  background-color: dimgray;
}

a {
  color: inherit;
}
