<form (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <div class="card m-4">
    <div class="field py-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input name="name" id="name" type="text" pInputText [(ngModel)]="name" #nameModel="ngModel" required minlength="5" appUnique />
          <label for="name">Pályázó személyneve vagy csapat neve</label>
        </span>
        <span class="p-inputgroup-addon">
          <app-required></app-required>
        </span>
      </div>
      <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" class="px-6">
        <small *ngIf="nameModel.errors?.required" class="text-orange-200">A név megadása kötelező!</small>
        <small *ngIf="nameModel.errors?.minlength" class="text-orange-200">A név legalább 5 karakter legyen!</small>
        <small *ngIf="nameModel.errors?.used" class="text-orange-200">Ezt a nevet már más használja!</small>
      </div>
    </div>
    <div class="field py-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">@</span>
        <span class="p-float-label">
          <input name="email" id="email" type="email" pInputText [(ngModel)]="email" #emailModel="ngModel" required minlength="5" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" appUnique />
          <label for="email">Pályázó vagy kapcsolattartó e-mail címe</label>
        </span>
        <span class="p-inputgroup-addon">
          <app-required></app-required>
        </span>
      </div>
      <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="px-6">
        <small *ngIf="emailModel.errors?.required" class="text-orange-200">Az e-mail cím megadása kötelező!</small>
        <small *ngIf="nameModel.errors?.minlength" class="text-orange-200">Az e-mail cím legalább 5 karakter legyen!</small>
        <small *ngIf="emailModel.errors?.pattern" class="text-orange-200">Az e-mail cím formátuma nem megfelelő (nev@tartomany.hu)!</small>
        <small *ngIf="emailModel.errors?.used" class="text-orange-200">Ezt az e-mail címet már más használja!</small>
      </div>
    </div>
    <div class="field py-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-mobile"></i>
        </span>
        <span class="p-float-label">
          <input name="phone" id="phone" type="tel" pInputText [(ngModel)]="phone" #phoneModel="ngModel" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" />
          <label for="float-input">Pályázó vagy kapcsolattartó telefonszáma</label>
        </span>
      </div>
      <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="px-6">
        <small *ngIf="phoneModel.errors?.pattern" class="text-orange-200">A telefonszám formátuma nem megfelelő (+36 70 12345678)!</small>
      </div>
    </div>
    <div class="field py-2">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <p-dropdown name="company" inputId="company" [options]="companies" [autoDisplayFirst]="false" [(ngModel)]="company" [style]="{width:'100%'}"
                      optionLabel="name" #companyModel="ngModel" required>
          </p-dropdown>
          <label for="company">Foglalkoztató cég</label>
        </span>
        <span class="p-inputgroup-addon">
          <app-required></app-required>
        </span>
      </div>
      <div *ngIf="companyModel.invalid && (companyModel.dirty || companyModel.touched)" class="px-1">
        <small *ngIf="companyModel.errors?.required" class="text-orange-200">A cég kiválasztása kötelező!</small>
      </div>
    </div>
    <div class="field py-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-comment"></i>
        </span>
        <span class="p-float-label">
          <input name="title" inputId="title" type="text" pInputText [(ngModel)]="title" #titleModel="ngModel" required minlength="10" />
          <label for="title">A pályázat címe</label>
        </span>
        <span class="p-inputgroup-addon">
          <app-required></app-required>
        </span>
      </div>
      <div *ngIf="titleModel.invalid && (titleModel.dirty || titleModel.touched)" class="px-6">
        <small *ngIf="titleModel.errors?.required" class="text-orange-200">A cím megadása kötelező!</small>
        <small *ngIf="titleModel.errors?.minlength" class="text-orange-200">A cím legalább 10 karakter legyen!</small>
      </div>
    </div>
    <div class="field py-2">
      <div class="p-inputgroup">
        <button pButton type="button" icon="pi pi-pencil" class="p-button" (click)="abstractControl.click()" pTooltip="Fájl kiválasztása" tooltipPosition="top"></button>
        <span class="p-float-label" (dblclick)="abstractControl.click()" >
          <input inputId="abstract-name" pInputText type="text" class="uppercase" [value]="abstractControl?.value" tabindex="-1" readonly />
          <label for="abstract-name">~1 oldalas rövid összefoglaló</label>
        </span>
        <span class="p-inputgroup-addon">
          <app-required></app-required>
        </span>
      </div>
      <div *ngIf="abstractModel.invalid && (abstractModel.dirty || abstractModel.touched)" class="px-6">
        <small *ngIf="abstractModel.errors?.required" class="text-orange-200">Az összefoglaló feltöltése kötelező!</small>
      </div>
      <input name="abstract" id="abstract" type="file" appObserveFiles [(ngModel)]="abstract" #abstractControl #abstractModel="ngModel"
             tabindex="-1"
             accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple="false"
             style="display:none"
             required />
    </div>
    <div class="field py-2">
      <div class="p-inputgroup">
        <button pButton type="button" icon="pi pi-eye" class="p-button" (click)="presentationControl.click()" pTooltip="Fájl kiválasztása" tooltipPosition="top"></button>
        <span class="p-float-label" (dblclick)="presentationControl.click()">
          <input inputId="presentation-name" pInputText type="text" class="uppercase" [value]="presentationControl?.value" tabindex="-1" readonly />
          <label for="presentation-name">~15 perces prezentáció</label>
        </span>
        <span class="p-inputgroup-addon">
          <app-required></app-required>
        </span>
      </div>
      <div *ngIf="presentationModel.invalid && (presentationModel.dirty || presentationModel.touched)" class="px-6">
        <small *ngIf="presentationModel.errors?.required" class="text-orange-200">A prezentáció feltöltése kötelező!</small>
      </div>
      <input name="presentation" id="presentation" type="file" appObserveFiles [(ngModel)]="presentation" #presentationControl #presentationModel="ngModel"
             tabindex="-1"
             accept="application/vnd.openxmlformats-officedocument.presentationml.presentation" multiple="false"
             style="display:none"
             required />
    </div>
    <div class="field py-2">
      <button pButton type="submit" label="Regisztráció" [disabled]="! signupForm.form.valid || loading" [class.spinner]="loading"></button>
    </div>
    <div class="field py-2">
      <p-messages [key]="'signup'"></p-messages>
    </div>
  </div>
</form>
