<div class="p-fluid p-m-4">
  <div class="p-field p-md-8">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input type="text" pInputText [(ngModel)]="name" />
        <label for="float-input">Neved vagy csapat neve</label>
      </span>
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
    </div>
    <small id="username-help">Enter your username to reset your password.</small>
  </div>
  <div class="p-field p-md-8">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input type="email" pInputText [(ngModel)]="email" />
        <label for="float-input">E-mail cím</label>
      </span>
      <span class="p-inputgroup-addon">
        @
      </span>
    </div>
  </div>
  <div class="p-field p-md-8">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input type="tel" pInputText [(ngModel)]="phone" />
        <label for="float-input">Telefonszám</label>
      </span>
      <span class="p-inputgroup-addon">
        <i class="pi pi-mobile"></i>
      </span>
    </div>
  </div>
  <div class="p-field p-md-8">
    <span class="p-float-label">
      <p-dropdown inputId="company" [options]="companies" [autoDisplayFirst]="false" [(ngModel)]="company" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
      <label for="company">Cég</label>
    </span>
  </div>
  <div class="p-field p-md-8">
  <div class="p-inputgroup">
      <span class="p-float-label">
      <input inputId="title" type="text" pInputText [(ngModel)]="title" />
      <label for="title">A pályázat címe</label>
    </span>
    <span class="p-inputgroup-addon">
      <i class="pi pi-comment"></i>
    </span>
  </div>
  </div>
  <div class="p-field p-md-8">
      <p-fileUpload name="abstract[]" mode="basic" fileLimit="1"
                    auto="true" customUpload="true" (uploadHandler)="onAbstract($event)"
                    accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                    chooseLabel="~1 oldalas rövid leírás">
      </p-fileUpload>
  </div>
  <div class="p-field p-md-8">
      <p-fileUpload name="presentation[]" mode="basic" fileLimit="1"
                    auto="true" customUpload="true" (uploadHandler)="onPresentation($event)"
                    accept="application/vnd.openxmlformats-officedocument.presentationml.presentation"
                    chooseLabel="15 perces prezentáció">
      </p-fileUpload>
  </div>
  <div class="p-field p-md-8">
    <button pButton type="button" label="Regisztráció" (click)="mysubmit()"></button>
  </div>
</div>
